@use "sass:map";
@use '@/scss/variables.scss' as var;

.c-typography {
  &--h1 {
    font-size: map.get(var.$heading-sizes, "h1", "size");
    line-height: map.get(var.$heading-sizes, "h1", "line-height");
  }

  &--h2 {
    font-size: map.get(var.$heading-sizes, "h2", "size");
    line-height: map.get(var.$heading-sizes, "h2", "line-height");
  }

  &--h3 {
    font-size: map.get(var.$heading-sizes, "h3", "size");
    line-height: map.get(var.$heading-sizes, "h3", "line-height");
  }

  &--h4 {
    font-size: map.get(var.$heading-sizes, "h4", "size");
    line-height: map.get(var.$heading-sizes, "h4", "line-height");
  }   

  &--h5 {
    font-size: map.get(var.$heading-sizes, "h5", "size");
    line-height: map.get(var.$heading-sizes, "h5", "line-height");
  }

  &--h6 {
    font-size: map.get(var.$heading-sizes, "h6", "size");
    line-height: map.get(var.$heading-sizes, "h6", "line-height");
  }

  &--bodyLarge {
    font-size: map.get(var.$paragraph-sizes, "bodyLarge", "size");
    line-height: map.get(var.$paragraph-sizes, "bodyLarge", "line-height");
  }

  &--body {
    font-size: map.get(var.$paragraph-sizes, "body", "size");
    line-height: map.get(var.$paragraph-sizes, "body", "line-height");
  }

  &--bodySmall {
    font-size: map.get(var.$paragraph-sizes, "bodySmall", "size");
    line-height: map.get(var.$paragraph-sizes, "bodySmall", "line-height");
  }

  &--small {
    font-size: map.get(var.$paragraph-sizes, "small", "size");
    line-height: map.get(var.$paragraph-sizes, "small", "line-height");
  }

  // Stylings
  &--bold {
    font-weight: map.get(var.$paragraph-weights, "bold");
  }

  &--medium {
    font-weight: map.get(var.$paragraph-weights, "medium");
  } 

  &--italic {
    font-style: italic;
  }

  &--underline {
    text-decoration: underline;
  }

  // Alignments
  &--center {
    text-align: center;
  }

  &--justify {
    text-align: justify;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  // Transforms
  &--lowercase {
    text-transform: lowercase;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  // Colors
  &--color {
    &-primary {
      color: var.$color-primary;
    }

    &-secondary {
      color: var.$color-black;
    }

    &-error {
      color: var.$color-error;
    }

    &-info {
      color: var.$color-information;
    }

    &-success {
      color: var.$color-success;
    }

    &-warning {
      color: var.$color-warning;
    }
  }
}
