@use '@/scss/variables.scss' as var;

.c-typography {
  &--h1,
  &--h2,
  &--h3,
  &--h4,
  &--h5,
  &--h6 {
    font-family: var.$font-rubik;
  }

  &--h1 {
    font-size: var.$font-size-h1;
    line-height: var.$font-line-height-h1;
  }

  &--h2 {
    font-size: var.$font-size-h2;
    line-height: var.$font-line-height-h2;
  }

  &--h3 {
    font-size: var.$font-size-h3;
    line-height: var.$font-line-height-h3;
  }

  &--h4 {
    font-size: var.$font-size-h4;
    line-height: var.$font-line-height-h4;
  }

  &--h5 {
    font-size: var.$font-size-h5;
    line-height: var.$font-line-height-h5;
  }

  &--h6 {
    font-size: var.$font-size-h6;
    line-height: var.$font-line-height-h6;
  }

  &--body {
    font-size: var.$font-size-body;
    line-height: var.$font-line-height-body;
  }

  &--bodyLarge {
    font-size: var.$font-size-bodyLarge;
    line-height: var.$font-line-height-bodyLarge;
  }

  &--bodySmall {
    font-size: var.$font-size-bodySmall;
    line-height: var.$font-line-height-bodySmall;
  }

  &--small {
    font-size: var.$font-size-small;
    line-height: var.$font-line-height-small;
  }

  // Stylings
  &--bold {
    font-weight: var.$font-weight-bold;
  }

  &--italic {
    font-style: italic;
  }

  &--underline {
    text-decoration: underline;
  }

  // Alignments
  &--center {
    text-align: center;
  }

  &--justify {
    text-align: justify;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  // Transforms
  &--lowercase {
    text-transform: lowercase;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  // Colors
  &--color {
    &-primary {
      color: var(--color-purple-blue);
    }

    &-secondary {
      color: var(--color-white);
    }

    &-error {
      color: var(--color-red);
    }

    &-info {
      color: var(--color-blue);
    }

    &-success {
      color: var(--color-green);
    }

    &-warning {
      color: var(--color-yellow);
    }
  }
}
