.c-navigation {
  align-items: center;
  background-color: white;
  display: flex;
  height: 56px;
  position: fixed;
  width: 100%;
  z-index: 100;

  div {
    margin-left: 32px;
  }

  @media screen and (min-width: 768px) {
    height: 96px;

    div {
      margin-left: 48px;
    }
  }
}
