.s-primary {
  align-items: center;
  background-color: var(--color-yellow);
  display: flex;
  flex-direction: column;
  justify-items: center;
  min-height: calc(100dvh - 56px);
  padding: 24px;

  @media screen and (min-width: 425px) {
    min-height: calc(100dvh - 144px);
    padding: 24px;
  }

  @media screen and (min-width: 768px) {
    gap: 36px;
  }

  @media screen and (min-width: 960px) {
    min-height: calc(100dvh - 72px);
    flex-direction: row;
    justify-content: center;
  }

  &__logo {
    align-items: center;
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: 960px) {
      gap: 16px;
      justify-content: center;
      width: 576px;
    }

    &__title {
      margin-bottom: 12px;
    }

    &__label {
      line-height: 18px;
    }

    &__email {
      align-items: flex-start;
      display: flex;
      margin-top: 16px;
      gap: 8px;
    }

    &__error {
      margin-top: 4px;
    }
  }
}

.s-secondary {
  background-color: var(--color-purple-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100dvh - 70px);

  &__title {
    line-height: 36px;
    margin: 32px 0;

    @media screen and (min-width: 768px) {
      line-height: 48px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px 16px;

    @media screen and (min-width: 768px) {
      align-items: center;
      flex-direction: row;
      gap: 24px;
      justify-content: center;
    }

    @media screen and (min-width: 960px) {
      gap: 32px;
    }
  }
}
