.p-root {
  align-items: center;
  background-color: var(--color-yellow);
  display: grid;
  min-height: calc(100dvh - 56px);
  justify-items: center;
  padding: 24px;

  @media screen and (min-width: 425px) {
    padding: 24px;
  }

  @media screen and (min-width: 768px) {
    min-height: calc(100dvh - 72px);
  }

  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 1.5fr;
  }

  &__logo {
    align-items: center;
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: 960px) {
      gap: 16px;
      justify-content: center;
      width: 576px;
    }

    &__title {
      margin-bottom: 12px;
    }

    &__label {
      line-height: 18px;
    }

    &__email {
      align-items: flex-start;
      display: flex;
      margin-top: 16px;
      gap: 8px;
    }

    &__error {
      margin-top: 4px;
    }
  }
}

.s-secondary {
  background-color: var(--color-purple-gray);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    padding: 40px 16px;
    min-height: 100dvh;
    align-items: center;
  }

  @media screen and (min-width: 960px) {
    gap: 32px;
  }
}
