@use '@/scss/variables.scss' as var;

.c-footer {
  align-items: center;
  background-color: var(--color-blue-darken);
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding: 8px 16px;

  @media screen and (min-width: 960px) {
    padding: 8px 24px;
  }

  &__text {
    font-family: var.$font-roboto;
    line-height: 12px;
    width: 100%;

    @media screen and (min-width: 768px) {
      line-height: 16px;
    }

    @media screen and (min-width: 960px) {
      width: 80%;
    }
  }
}
