.c-link {
  align-items: center;
  color: var(--color-purple-blue);
  display: flex;
  justify-content: center;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
